.text-center{
	width: 30%;
}
a {
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: block;
    font-size: 20px;
}
.form-group {
    height: 49%;
    margin-bottom: 5px;
    width: 100%;
    background-color: #cec965;
    float: right;
}
.text-center {
    width: 80%;
    height: 100%;
}
.row {
    height: 500px
}



